{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}
{% block content %}
    <body>
    <div class="loginForm">
        <h1>Login</h1>
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form action="{{ path('app_login') }}" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}">

            <label for="password">Password:</label>
            <input type="password" id="password" name="_password">

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <input type="hidden" name="_target_path" value="/home">

            <button type="submit">Login</button>
        </form>
    </div>
    </body>
    <style>
        body {
            background-color: black;
            color: white;
        }

        .loginForm {
            width: 300px;
            margin: 50px auto;
        }

        h1 {
            text-align: center;
        }

        input {
            display: block;
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 20px;
            box-sizing: border-box;
        }
        label{
            width: 100%;
            box-sizing: border-box;
            padding: 10px;
            margin-bottom: 20px;
        }

        button {
            padding: 10px 20px;
            border: none;
            border-radius: 20px;
            background-color: #4CAF50;
            color: white;
            cursor: pointer;
        }
        button:hover {
            background-color: #45a049;
        }
    </style>
{% endblock %}
